# GEMINI_API_KEY: Required for Gemini AI API calls.
NEXT_PUBLIC_GEMINI_API_KEY="MY_GEMINI_API_KEY"

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="MY_CLOUD_NAME"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="MY_UPLOAD_PRESET"
